@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}

a{
    color:darkblue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:visited{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    color: #F5A862;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*****HEADER*****/
header{
    display: block;
    width:100%;
    margin-left: 0%;
    overflow: hidden;
    background-color: #333631;
}
header h1{
//    background-color: lightsteelblue;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    font-size:120%; /*フォントサイズの調整*/
    color:white; /*文字色の変更*/
    padding-top: 5px; /*文字上部に余白*/
    padding-bottom: 5px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
//    border:1px solid #313131; /*文字の周りに線を描く*/
//    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
}


#version{
    float: left;
    font-size:90%; /*フォントサイズの調整*/
    color:lightgray; /*文字色の変更*/
    padding-top: 15px; /*文字上部に余白*/
    padding-bottom: 0px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
    font-weight:400; /*文字の太さの変更*/
    vertical-align: bottom;
}


/*****NAV*****/
nav{
  background-color: #626063;
	width: 150px ;	/*横幅の指定*/
	border-top: 1px solid silver;	/*上部の線の色を指定*/
	border-bottom: 1px solid silver;	/*下部の線の色を指定*/
	margin-bottom: 5px;	/**/
	overflow: hidden;	/*おまじない*/
  float: left;
}
nav ul{
//	width: 60%;	/*横幅の指定*/
	margin: auto;	/*中央に配置する*/
	list-style: none; /*リストのスタイルを削除*/
}
nav li{
//	width: calc(100% / 4);	/*横幅の指定*/
	border-left: 1px solid silver;	/*線を描く*/
	box-sizing: border-box; /*線の幅をliの横幅に含める*/
	text-align: center;	/*文字を中央に*/
//	float: left;	/*左から並べる*/
}
nav li:last-child{
	border-right: 1px solid silver;	/*li要素の最後の物は右側に線を描く*/
}
nav a{
	display: block;	/*1つのli全体にリンクを有効にする*/
	text-decoration: none;	/*ブラウザ標準のリンク装飾をオフに*/
	color: silver;	/*文字色の変更*/
	font-size: 110%;	/*フォントサイズの指定*/
	letter-spacing: 5px;	/*文字と文字の間隔をあける*/
	font-weight: 400;	/*文字の太さを調整*/
	line-height: 45px;	/*行間の指定（ナビボタンの高さ指定）*/
}
nav a:hover{
	background-color: orange;	/*背景色の指定*/
	color: #fff;	/*文字色の変更*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;	/*ホバー時の動きをなめらかにする*/
}
nav a:visited{
	color: silver;	/*文字色の変更*/
}

div#contents {
//background-color: #99cc33;
width: 760px;
overflow: hidden;
}

div#main {
//background-color: #99cc33;
//width: 760px;
overflow: hidden;
//float: right;
}


footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightsteelblue;
}
footer small{
    color: gray;
    letter-spacing: 5px;
}
