/************************************
** トグルボタン表示
************************************/
.toggle-wrap .toggle-button {
  display: block;
  cursor: pointer;
  width:200px;
  padding: 3px 10px;
  background-color: lightsteelblue;
  border: 1px solid #777;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.toggle-wrap .toggle-button:hover {
  border-color: red;
}

.toggle-wrap .toggle-content,
.toggle-wrap > input[type="checkbox"] {
  display: none;
}

.toggle-wrap > input[type="checkbox"]:checked ~ .toggle-content {
  display: block;
}
.toggle-wrap > input[type="checkbox"]:checked ~ .toggle-button {
  background-color: teal;
}
